:root {
  /* Headline 1 */
  --mdc-typography-headline1-font-family-name: Roboto;
  --mdc-typography-headline1-font-weight: 300;
  --mdc-typography-headline1-font-size: 96px;
  --mdc-typography-headline1-letter-spacing: -1.50px;
  --mdc-typography-headline1-line-height: 96px;
  /* Headline 2 */
  --mdc-typography-headline2-font-family-name: Roboto;
  --mdc-typography-headline2-font-weight: 300;
  --mdc-typography-headline2-font-size: 60px;
  --mdc-typography-headline2-letter-spacing: -0.50px;
  --mdc-typography-headline2-line-height: 60px;
  /* Headline 3 */
  --mdc-typography-headline3-font-family-name: Roboto;
  --mdc-typography-headline3-font-weight: 400;
  --mdc-typography-headline3-font-size: 48px;
  --mdc-typography-headline3-letter-spacing: 0px;
  --mdc-typography-headline3-line-height: 50px;
  /* Headline 4 */
  --mdc-typography-headline4-font-family-name: Roboto;
  --mdc-typography-headline4-font-weight: 400;
  --mdc-typography-headline4-font-size: 34px;
  --mdc-typography-headline4-letter-spacing: 0.25px;
  --mdc-typography-headline4-line-height: 40px;
  /* Headline 5 */
  --mdc-typography-headline5-font-family-name: Roboto;
  --mdc-typography-headline5-font-weight: 400;
  --mdc-typography-headline5-font-size: 24px;
  --mdc-typography-headline5-letter-spacing: 0px;
  --mdc-typography-headline5-line-height: 32px;
  /* Headline 6 */
  --mdc-typography-headline6-font-family-name: Roboto;
  --mdc-typography-headline6-font-weight: 500;
  --mdc-typography-headline6-font-size: 20px;
  // --mdc-typography-headline6-letter-spacing: 0.15px;
  --mdc-typography-headline6-letter-spacing: 0.25px;
  --mdc-typography-headline6-line-height: 32px;
  /* Subtitle 1 */
  --mdc-typography-subtitle1-font-family-name: Roboto;
  --mdc-typography-subtitle1-font-weight: 400;
  --mdc-typography-subtitle1-font-size: 16px;
  --mdc-typography-subtitle1-letter-spacing: 0.15px;
  --mdc-typography-subtitle1-line-height: 28px;
  /* Subtitle 2 */
  --mdc-typography-subtitle2-font-family-name: Roboto;
  --mdc-typography-subtitle2-font-weight: 500;
  --mdc-typography-subtitle2-font-size: 14px;
  --mdc-typography-subtitle2-letter-spacing: 0.1px;
  --mdc-typography-subtitle2-line-height: 22px;
  /* Body 1 */
  --mdc-typography-body1-font-family-name: Roboto;
  --mdc-typography-body1-font-weight: 400;
  --mdc-typography-body1-font-size: 16px;
  --mdc-typography-body1-letter-spacing: 0.5px;
  --mdc-typography-body1-line-height: 24px;
  /* Body 2 */
  --mdc-typography-body2-font-family-name: Roboto;
  --mdc-typography-body2-font-weight: 400;
  --mdc-typography-body2-font-size: 14px;
  --mdc-typography-body2-letter-spacing: 0.25px;
  --mdc-typography-body2-line-height: 20px;
  /* Caption */
  --mdc-typography-caption-font-family-name: Roboto;
  --mdc-typography-caption-font-weight: 400;
  --mdc-typography-caption-font-size: 12px;
  --mdc-typography-caption-letter-spacing: 0.4px;
  --mdc-typography-caption-line-height: 20px;
  /* Button */
  --mdc-typography-button-font-family-name: Roboto;
  --mdc-typography-button-font-weight: 500;
  --mdc-typography-button-font-size: 14px;
  --mdc-typography-button-letter-spacing: 1.25px;
  --mdc-typography-button-line-height: 36px;
  /* Overline */
  --mdc-typography-overline-font-family-name: Roboto;
  --mdc-typography-overline-font-weight: 400;
  --mdc-typography-overline-font-size: 10px;
  --mdc-typography-overline-letter-spacing: 1.5px;
  --mdc-typography-overline-line-height: 32px;
}
