:root {
  /* light */
  --md-sys-color-primary-light: var(--md-ref-palette-primary40);
  --md-sys-color-on-primary-light: var(--md-ref-palette-primary100);
  --md-sys-color-primary-container-light: var(--md-ref-palette-primary90);
  --md-sys-color-on-primary-container-light: var(--md-ref-palette-primary10);
  --md-sys-color-secondary-light: var(--md-ref-palette-secondary40);
  --md-sys-color-on-secondary-light: var(--md-ref-palette-secondary100);
  --md-sys-color-secondary-container-light: var(--md-ref-palette-secondary90);
  --md-sys-color-on-secondary-container-light: var(--md-ref-palette-secondary10);
  --md-sys-color-tertiary-light: var(--md-ref-palette-tertiary40);
  --md-sys-color-on-tertiary-light: var(--md-ref-palette-tertiary100);
  --md-sys-color-tertiary-container-light: var(--md-ref-palette-tertiary90);
  --md-sys-color-on-tertiary-container-light: var(--md-ref-palette-tertiary10);
  --md-sys-color-error-light: var(--md-ref-palette-error40);
  --md-sys-color-on-error-light: var(--md-ref-palette-error100);
  --md-sys-color-error-container-light: var(--md-ref-palette-error90);
  --md-sys-color-on-error-container-light: var(--md-ref-palette-error10);
  --md-sys-color-outline-light: var(--md-ref-palette-neutral-variant50);
  // --md-sys-color-background-light: var(--md-ref-palette-neutral99);
  --md-sys-color-background-light: var(--md-ref-palette-neutral100);
  --md-sys-color-on-background-light: var(--md-ref-palette-neutral10);
  // --md-sys-color-surface-light: var(--md-ref-palette-neutral99);
  --md-sys-color-surface-light: var(--md-ref-palette-neutral100);
  --md-sys-color-on-surface-light: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-variant-light: var(--md-ref-palette-neutral-variant90);
  --md-sys-color-on-surface-variant-light: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-inverse-surface-light: var(--md-ref-palette-neutral20);
  --md-sys-color-inverse-on-surface-light: var(--md-ref-palette-neutral95);
  --md-sys-color-inverse-primary-light: var(--md-ref-palette-primary80);
  --md-sys-color-shadow-light: var(--md-ref-palette-neutral-variant0);
  --md-sys-color-surface-tint-light: var(--md-ref-palette-primary40);
  --md-sys-color-outline-variant-light: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-scrim-light: var(--md-ref-palette-neutral0);

  --md-sys-color-notice-surface-light: var(--md-ref-palette-color1-2);
  --md-sys-color-goals-light: var(--md-ref-palette-color2-3);
  --md-sys-color-cta-light: var(--md-ref-palette-color3-2);
  --md-sys-color-cta-surface-light: var(--md-ref-palette-color3-3);
  --md-sys-color-cta-coin-light: var(--md-ref-palette-color2-2);
  --md-sys-color-menu-surface-light: var(--md-ref-palette-color4-2);
}

.v-theme--light {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);

  --md-sys-color-notice-surface: var(--md-sys-color-notice-surface-light);
  --md-sys-color-goals: var(--md-sys-color-goals-light);
  --md-sys-color-cta: var(--md-sys-color-cta-light);
  --md-sys-color-cta-surface: var(--md-sys-color-cta-surface-light);
  --md-sys-color-cta-coin: var(--md-sys-color-cta-coin-light);
  --md-sys-color-menu-surface: var(--md-sys-color-menu-surface-light);
}
