@mixin theme-base() {
  html {
    overflow: initial !important;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    margin: 0;
  }

  .v-application {
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
  }

  .v-ripple__container {
    & .v-ripple__animation--in {
      opacity: 0.08 !important;
    }
  }
}

@mixin theme-prop($prop, $role, $flag: '') {
  #{$prop}: var(--md-sys-color-#{$role}) #{$flag};
}

@mixin typography($role, $flag: '') {
  font-family: var(--md-sys-typescale-#{$role}-font-family-name) #{$flag};
  font-weight: var(--md-sys-typescale-#{$role}-font-weight) #{$flag};
  font-size: var(--md-sys-typescale-#{$role}-font-size) #{$flag};
  letter-spacing: var(--md-sys-typescale-#{$role}-letter-spacing) #{$flag};
  line-height: var(--md-sys-typescale-#{$role}-line-height) #{$flag};
}

@mixin md2-typography($role, $flag: '') {
  font-family: var(--mdc-typography-#{$role}-font-family-name) #{$flag};
  font-weight: var(--mdc-typography-#{$role}-font-weight) #{$flag};
  font-size: var(--mdc-typography-#{$role}-font-size) #{$flag};
  letter-spacing: var(--mdc-typography-#{$role}-letter-spacing) #{$flag};
  line-height: var(--mdc-typography-#{$role}-line-height) #{$flag};
}

@mixin transitions() {
  .scale-transition {
    &-enter-active,
    &-leave-active {
      transform-origin: center top !important;
      transition: opacity 0.08s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1) !important;
    }

    &-enter-active,
    &-enter-to {
      opacity: 1;
      transform: scale(1);
    }

    &-enter-from {
      opacity: 0;
      transform: scale(0.8);
    }

    &-leave-from,
    &-leave-to {
      opacity: 0;
      transform: scale(0);
    }
  }

  .fade-transition {
    &-enter-active,
    &-leave-active {
      transition: 0.12s linear !important;
    }
  }
}
